<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myy.bpds.server.mapper.ProjectMapper">

    <!-- 根据名称模糊查询项目 -->
    <select id="selectByName" resultType="com.myy.bpds.server.entity.ProjectEntity">
        <bind name="pattern" value="'%' + name + '%'"/>
        SELECT * FROM t_project WHERE name LIKE #{pattern}
    </select>
</mapper>